
<table class="table table-striped table-hover " style="margin-top: 30px;">
  <thead>
    <tr>
      <th>#</th>
      <th>날짜</th>
      <th>음악</th>
      <th><center>삭제</center></th>
    </tr>
  </thead>
  <tbody>
    <% for(var i=0; i < data.length; i++) {%>
    <tr oid="<%=data[i]._id%>">
      <td></td>
      <td id="date<%=i%>"></td>
      <td><a href="/song/<%=data[i].artist%>/<%=data[i].album%>/<%=data[i].music%>"> <%=data[i].artist%> - <%=data[i].music%></a></td>
      <td><center><a href="#" class="btn_delete" oid="<%=data[i]._id%>"> X </a></center></td>
    </tr>
    <script>
      date = new Date("<%=data[i].publish_date%>");
      date = date.toLocaleString("ko-KR")

      $('#date<%=i%>').html(date);
    </script>
    <% }; %>
  </tbody>
</table> 


<script>
  $(function(){ 
    $(".btn_delete").click(function(){ 
      event.preventDefault();

      var oid = $(this).attr('oid');

      var url = "/api/history/delete/"+oid;

      $.ajax({
        url: url,
        type: 'PUT',
        dataType: 'json',
        data: {
          
        },
        success: function(result) {
          $("tr[oid='"+oid+"']").html('<td></td><td colspan="3">삭제되었습니다</td>');
        }
      });
    })	
  })


</script>