<h4> 음악 </h4>
<table class="table table-striped table-hover ">
<thead>
    <tr>
        <th>재생</th>
        <th>아티스트</th>
        <th>앨범</th>
        <th>제목</th>
        <!--<th>분류</th>-->
        <th>메뉴</th>
    </tr>
</thead>
<tbody>

    <% for(var i=0; i < data.length; i++) {%>
    <% var var_artist, var_album, var_music; %>
    <% 
    if (data[i].artist)
    if (data[i].artist.length > 15) var_artist = data[i].artist.substring(0, 15) + " ...";
    else var_artist = data[i].artist;

    if (data[i].album)
    if (data[i].album.length > 15) var_album = data[i].album.substring(0, 15) + " ...";
    else var_album = data[i].album;

    if (data[i].title)
    if (data[i].title.length > 25) var_music = data[i].title.substring(0, 25) + " ...";
    else var_music = data[i].title;


    %>
        <tr>
            <td> &nbsp;&nbsp;
                <% if (data[i].youtube_code != "null") { %>
                    <a href="" class="youtube-play-bt" art="<%=data[i].artist %>" alb="<%=data[i].album %>" tit="<%=data[i].title %>" code="<%= data[i].youtube_code %>"><i class="fa fa-play" aria-hidden="true"></i></td></a>
                <% } else if (data[i].soundcloud_code != "null" ){ %>
                    <a href="" class="soundcloud-play-bt"  art="<%=data[i].artist %>" alb="<%=data[i].album %>" tit="<%=data[i].title %>" code="<%= data[i].soundcloud_code %>"><i class="fa fa-play" aria-hidden="true"></i></td></a>
                <% } else { %>
                <% } %>
                
            
            <td><a href="/song/<%=data[i].artist %>"><%= var_artist %></a></td>

            <% if (data[i].album != "_") { %>
                <td><a href="/song/<%=data[i].artist %>/<%=data[i].album %>"><%=var_album %></a></td>
            <% } else { %>
                <td></td>
            <% } %>
            <td><a href="/song/<%=data[i].artist %>/<%=data[i].album %>/<%=data[i].title %>"><%=var_music %></a></td>
            <!--<td>-</td>
            <% if (data[i].youtube_code != "null") { %>
                <td class="youtube-play-bt" art="<%=data[i].artist %>" alb="<%=data[i].album %>" tit="<%=data[i].title %>" code="<%= data[i].youtube_code %>"><a href="#">재생(youtube)</a></td>
            <% } else if (data[i].soundcloud_code != "null" ){ %>
                <td class="soundcloud-play-bt"  art="<%=data[i].artist %>" alb="<%=data[i].album %>" tit="<%=data[i].title %>" code="<%= data[i].soundcloud_code %>"><a href="#">재생(soundcloud)</a></td>
            <% } else { %>
                <td></td>
            <% } %>
<--><td>
                <ul class="navbar-nav" style="list-style: none; padding-left: 0px;">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">옵션<span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <!--<% if (data[i].youtube_code != "null") { %>
                            <li><a href="" class="youtube-play-bt" art="<%=data[i].artist %>" alb="<%=data[i].album %>" tit="<%=data[i].title %>" code="<%= data[i].youtube_code %>">재생(youtube)</a></li>
                            <% } else if (data[i].soundcloud_code != "null" ){ %>
                            <li><a href="" class="soundcloud-play-bt"  art="<%=data[i].artist %>" alb="<%=data[i].album %>" tit="<%=data[i].title %>" code="<%= data[i].soundcloud_code %>">재생(soundcloud)</a></li>
                            <% } else { %>
                            <% } %>-->
                            <li><a href="#">재생목록에 추가</a></li>
                            <li><a href="#">트래킹</a></li>
                            <li class="divider"></li>
                            <li><a href="#" id="logout">로그아웃</a></li>
                        </ul>
                    </li>
                </ul>
            </td>
        </tr>
    <% }; %>
            
</tbody>
</table> 

<ul class="pager">
    <li class="next"><a href="#">더 보기 &rarr;</a></li>
</ul>

<script language="javascript">

    $('.youtube-play-bt').click(function (e) {
        e.preventDefault();
        youtube_setContentPlayer_autoplay($(this).attr('code'));
        addhistory($(this).attr('art'), $(this).attr('alb'), $(this).attr('tit'), function() {
          console.log('Added history : ' + $(this).attr('art') +  $(this).attr('alb')+ $(this).attr('tit'));
        });
    });

    $('.soundcloud-play-bt').click(function (e) {
        e.preventDefault();
        soundcloud_setContentPlayer_autoplay($(this).attr('code'));
        addhistory($(this).attr('art'), $(this).attr('alb'), $(this).attr('tit'), function() {
          console.log('Added history : ' + $(this).attr('art') +  $(this).attr('alb')+ $(this).attr('tit'));
        });
    })
</script>