<script src="/js/jsencrypt.min.js"></script> 

<div class="container" style="padding-top:30px;">
    <div class="row">
        <h3>가입</h3>
        <div class="col-lg-8">
            <div class="bs-component">
                <div class="content-tabs">
                    <div id="myTabContent" class="tab-content">
                        <div class="tab-pane fade active in" id="info">

                            <h4 style="padding-top:30px;">・ 필수 정보</h4>
                            <hr>

                            <div>

                                <form class="form-horizontal">
                                <fieldset>
                                    <div class="form-group">
                                    <label for="inputEmail" class="col-lg-2 control-label">이메일 주소</label>
                                    <div class="col-lg-5">
                                        <input type="text" class="form-control" id="inputEmail" placeholder="이메일 주소를 입력하세요.">
                                    </div>
                                    </div>
                                    <div class="form-group">
                                    <label for="inputPassword" class="col-lg-2 control-label">비밀번호</label>
                                    <div class="col-lg-5">
                                        <input type="password" class="form-control" id="inputPassword" placeholder="영문 또는 숫자(필수), 특수기호 18자 이내" >
                                    </div>
                                    </div>
                                    <div class="form-group">
                                    <label for="inputPassword" class="col-lg-2 control-label">비밀번호 재확인</label>
                                    <div class="col-lg-5">
                                        <input type="password" class="form-control" id="inputPasswordAgain" placeholder="비밀번호 재확인">
                                        <div class="checkbox">
                                        <label>
                                            <input type="checkbox"> Checkbox
                                        </label>
                                        </div>
                                    </div>
                                    </div>
                                    <div class="form-group">
                                    <label for="inputEmail" class="col-lg-2 control-label">아이디</label>
                                    <div class="col-lg-5">
                                        <input type="text" class="form-control" id="inputId" placeholder="아이디를 입력하세요.">
                                    </div>
                                    </div>
                                    <div class="form-group">
                                    <label for="inputEmail" class="col-lg-2 control-label">닉네임</label>
                                    <div class="col-lg-5">
                                        <input type="text" class="form-control" id="inputNickname" placeholder="20자 이내, 특수문자 사용 불가">
                                    </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="select" class="col-lg-2 control-label">생년월일</label>
                                        <div class="col-lg-5">
                                            <div class="col-sm-4 padding-5px-horizontal">
                                            <select class="form-control" id="birthday_day">
                                                <option val="null">일</option>
                                                <% for (var i = 1; i <= 31; i++) { %>
                                                <option val="<%= i %>"><%= i %>일</option>
                                                <% } %>
                                            </select>
                                            </div>
                                            <div class="col-sm-3 padding-5px-horizontal" >
                                            <select class="form-control" id="birthday_month">
                                                <option val="null">월</option>
                                                <% for (var i = 1; i <= 12; i++) { %>
                                                <option val="<%= i %>"><%= i %>월</option>
                                                <% } %>
                                            </select>
                                            </div>
                                            <div class="col-sm-5 padding-5px-horizontal">
                                            <select class="form-control" id="birthday_year">
                                                <option val="null">년도</option>
                                                <% for (var i = 2017; i >= 1920; i--) { %>
                                                <option val="<%= i %>"><%= i %>년</option>
                                                <% } %>
                                            </select>
                                            </div>
                                        </div>
                                        
                                    </div>
                                    <div class="form-group">
                                        <label for="gender" class="col-lg-2 control-label">성별</label>
                                        <div class="col-lg-4">
                                            <div class="col-sm-4 padding-5px-horizontal">
                                                <div class="radio">
                                                    <label>
                                                        <input type="hidden" name="optionsRadios" id="gender" value="null" checked="">
                                                        <input type="radio" name="optionsRadios" id="gender" value="m">
                                                        남
                                                    </label>
                                                    </div>
                                                                                        </div>
                                                                                        <div class="col-sm-4 padding-5px-horizontal">
                                                                                            <div class="radio">
                                                    <label>
                                                        <input type="radio" name="optionsRadios" id="gender" value="f">
                                                        여
                                                    </label>
                                                    </div>
                                            </div>
                                        </div>
                                        
                                    </div>
                                </fieldset>
                                </form>

                            </div>

                            <h4 style="padding-top:30px;">・ 부가 정보</h4>
                            <hr>
                            <form class="form-horizontal">
                                <fieldset>
                                    <div class="form-group">
                                    <label for="inputProfile" class="col-lg-2 control-label">프로필 사진</label>
                                    <div class="col-lg-10">
                                        <input type="text" class="form-control" id="inputProfilePicture" placeholder="개발 중인 프로젝트이므로 주소 형태로 제공됩니다.">
                                    </div>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="bs-component">

                
                <a href="#" id="btn_regist" class="btn btn-default btn-lg btn-block" style="margin-top: 45px; margin-bottom: 25px">등록</a>
                <div class="alert alert-dismissible alert-warning">
                    <h4>Warning!</h4>
                    <p>위 가입 버튼을 눌러 입력한 정보를 토대로 가입을 하는 경우 pracler 개인정보처리방침에 동의하는 것으로 간주합니다.
                    </p>
                </div>2
                
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h3 class="panel-title">편집규정</h3>
                    </div>
                    <div class="panel-body">
                        1. 
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>
<script language="javascript">
  document.title = "새로 추가하기 :: pracler";
</script>

<script>
    $(function(){ 
        $("#btn_regist").click(function(){ 
            event.preventDefault();

            var inputEmail = $('#inputEmail').val();
            var inputId = $('#inputId').val();
            var inputPassword = $('#inputPassword').val();
            var inputPasswordAgain = $('#inputPasswordAgain').val();
            var inputNickname = $('#inputNickname').val();
            var birthday_day = $('#birthday_day').val();
            var birthday_month = $('#birthday_month').val();
            var birthday_year = $('#birthday_year').val();
            var gender = $('#gender:checked').val();
            var profile_picture = $('#profile_picture').val();

            /* filter */
            if (!inputEmail) { alert("이메일이 입력되지 않았습니다."); return; } // 동작
            if (!inputEmail.includes("@")) { alert("이메일 입력 오류입니다.\n입력한 이메일을 다시 확인해주세요."); return; } // 동작
            if (!inputId) { alert("아이디가 입력되지 않았습니다."); return; } // 동작
            if (!inputPassword) { alert("비밀번호가 입력되지 않았습니다."); return; } // 동작
            if (!inputPasswordAgain) { alert("비밀번호 재확인이 필요합니다."); return; } // 동작
            if (inputPassword != inputPasswordAgain) { alert("비밀번호 재확인이 일치하지 않습니다."); return; } // 동작
            if (!inputNickname) { alert("닉네임이 입력되지 않았습니다."); return; } // 동작
            if (birthday_day == "일") { alert("생일(일)이 입력되지 않았습니다."); return; } // 동작
            if (birthday_month == "월") { alert("생일(월)이 입력되지 않았습니다."); return; } // 동작
            if (birthday_year == "년도") { alert("생일(년도)가 입력되지 않았습니다."); return; } // 동작
            if (!gender) { alert("성별이 선택되지 않았습니다."); return; }

            if (!profile_picture) profile_picture = "null";

            /* execute */
            birthday_day = birthday_day.substring(0, $('#birthday_day').val().length-1);
            birthday_month = birthday_month.substring(0, $('#birthday_month').val().length-1);
            birthday_year = birthday_year.substring(0, $('#birthday_year').val().length-1);
            
            var birthday = leadingZeros(birthday_year, 2) + "-" + leadingZeros(birthday_month, 2) + "-" + leadingZeros(birthday_day, 2);
            
            /* encrypt */
            $.ajax({
                url: "/api/rsa/encrypt",
                type: 'POST',
                dataType: 'json',
                data: {
                    "inputPassword": inputPassword, 
                },
                success: function(result) {
                    alert(result.pw);
                    /* request */
                    $.ajax({
                        url: "/api/auth/register",
                        type: 'POST',
                        dataType: 'json',
                        data: {
                            "email": inputEmail, 
                            "id": inputId, 
                            "password": result.pw,
                            "nickname": inputNickname,
                            "birthday": birthday,
                            "gender": gender,
                            "profile_picture": profile_picture,
                        },
                        success: function(result) {
                            alert('가입이 완료되었습니다.');
                            goto('/');
                        }
                    });
                }
            });

            
        })	
    })

</script>