


<div class="user_nowplaying"> 
    <span class="icon">
        <i class="fa fa-spinner fa-pulse fa-2x fa-fw">
        </i>
    </span>
    <span class="txt">지금 듣고 있습니다 : <a href="/song/<%=data.artist%>"><%=data.artist%></a> - <a href="/song/<%=data.artist%>/<%=data.album%>/<%=data.music%>"><%=data.music%></a>
    </span> 

    
</div>


<script>
        date = new Date("<%=data.publish_date%>");
        date2 = new Date();

        elapsed = addMinutes(date, 6);
        console.log("<%=data.music%>");
        console.log(elapsed);
        console.log(date2);
        if (elapsed < date2)
        {
            $('.user_nowplaying').css('display', 'none')
        }
        
        function addMinutes(date, minutes) {
            return new Date(date.getTime() + minutes*60000);
        }
</script>