<div class="view-markup" style="background-color: darkgoldenrod">
  <div class="container">
    <div style="padding-top:30px; padding-bottom:80px; "><h1 style="color:aliceblue"><%=data.nickname%>님의 재생목록</h1></div>
    
  </div>
</div>

<div class="container view-markup" style="padding-top:60px; ">
    <div class="row">
      <div class="col-lg-3">


        <h2 style="padding-bottom:30px; font-weight:700">목록</h2>
        <div class="list-group table-of-contents">
          <% var pl; %>
          <% for(var i=0; i < data.playlist.length; i++) {%>
            <a class="list-group-item" href="/<%=data.nickname%>/playlist/<%=data.playlist[i].uid%>"><i class="fa fa-bars" aria-hidden="true"></i> &nbsp; <%=data.playlist[i].name%><span class="badge">14개 곡</span></a>
            <% if (data.playlist[i].uid == data.uid) { %>
            <% pl = data.playlist[i]; %>
            <% } %>
          <% } %>
        </div>

        <center><a href="/playlist/new" class="btn btn-default">새로운 재생목록 만들기</a></center>
      </div>
      <div class="col-lg-8 col-lg-offset-1">
        
        <div ><h2 style="padding-bottom:30px; font-weight:700"><i class="fa fa-bars" aria-hidden="true" style="float: left; padding-right:10px;"></i> &nbsp; <span id="sel_listname"  style="float: left;"><%=pl.name %></span></h2></div>
        
        <div class="alert alert-dismissible alert-warning">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <h4>Warning!</h4>
            <p>개발 중인 페이지입니다. 이 페이지는 작동이 되지 않습니다!</p>
        </div>
        <table class="table table-striped table-hover ">
          <thead>
            <tr>
              <th>#</th>
              <th>음악</th>
              <th>ㅍ</th>
              <th>Column heading</th>
            </tr>
          </thead>
          <tbody>
          <% for(var i=0; i < 4; i++) {%>
            <tr>
              <td><%=i%></td>
              <td>Column content</td>
              <td>Column content</td>
              <td>Column content</td>
            </tr>
            <% } %>
            
          </tbody>
        </table> 
      </div>
          
</div>
  
</div>

<script>
  $(function() {
    $("#sel_listname").on("click", function () {
      $(this).html('<input type="text" class="form-control" placeholder="Search" style="height: 26px; font-size: 24px;" value="<%=pl.name %>">');
      $(this).off("click");
    })
  })

</script>