<div class="v-panel panel-album-popular">
    <div class="row">
        <% for (var i = 0; i < 4; i++) {%>
            <% var res = data[i].key.split("/"); %>
            <div class="col-lg-3 alb">
                <img id="album-popular-image-<%=i%>" style="width:100%" src=""/>
                <div class="txtbox" >
                    <span><a href="/song/<%=res[0]%>" class="txt-plays"><%=res[0]%> - <%=data[i].value%> plays</a></span>
                    <a href="/song/<%=res[0]%>/<%=res[1]%>" class="txt-album-name"><%=res[1]%></a>
                </div>
            </div>
        <% } %>
    </div>
</br></br>

</div>

<script>
    $(function() {
        "<% for(var i = 0; i < 4; i++) {%>"
            getAlbumGrid("<%=data[i].key%>", "<%=i%>");
            console.log("<%=data[i].key%>" + " - <%=i%>")
        "<% } %>"
    });
    var getAlbumGrid = (key, id) => 
    {
        var url = "/api/song/image/" + key;
		$.ajax({
			url: url,
			type: 'GET',
			dataType: 'html',
            timeout: 5000,
			success: function(result) {
                if (!result)
                {
				    $('#album-popular-image-'+id).attr('src', "https://www.tunefind.com/i/album-art-empty.png");
                }
                else
                {
				    $('#album-popular-image-'+id).attr('src', result);
                }
                $('#album-popular-image-'+id).height($('#album-popular-image-'+id).width());
			},
            error: function (jqXHR, textStatus, errorThrown) {
                return;
            },
		});	
        return key;
    }

</script>